repos:
  - repo: https://github.com/homebysix/pre-commit-macadmin
    rev: v1.21.1
    hooks:
      - id: check-autopkg-recipes
        args:
          [
            "--recipe-prefix=com.github.davidbpirie.",
            "--ignore-min-vers-before=0.1.0",
            "--strict",
            "--",
          ]
        exclude: "Generic/GenericPayloadFreeDist.pkg.recipe.yaml"
      - id: forbid-autopkg-overrides
      - id: forbid-autopkg-trust-info
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.11.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=100"]
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
